/* Radhe Radhe */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
}

html, body {
    font-family: 'Poppins';
    font-style: normal;
}

.main-section {
    position: relative;
}

.inline {
    display: inline;
}

header {
    position: absolute;
    width: 100%;
    z-index: 3;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 15px;
    margin: 0 auto;
}

.navbar a {
    color: #fff;
    margin: 0 10px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 16px;
}

.navbar a svg {
    fill: white;
    vertical-align: middle;
}

.navbar.black {
    background-color: white;
}

.navbar.black a,
.navbar.black svg {
    color: black;
    fill: black;
} 

.navbar .nav-btn {
    display: flex;
    align-items: center;
}

.navbar .nav-btn .expand-btn {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    gap: 3px;
    position: relative;
}

.navbar .nav-btn .expand-btn span {
    display: block;
    background-color: #F56962;
    width: 100%;
    height: 3px;
    transition: transform .3s ease;
}

.navbar .nav-btn .expand-btn {
    justify-content: space-around;
}

.navbar .nav-btn .expand-btn span.initial:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar .nav-btn .expand-btn span.initial:nth-child(2) {
    transform: scaleX(0);
}

.navbar .nav-btn .expand-btn span.initial:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar .nav-btn .expand-btn span.close:nth-child(1) {
    transform: translateY(0px) rotate(0deg);
}

.navbar .nav-btn .expand-btn span.close:nth-child(2) {
    transform: scaleX(1);
}

.navbar .nav-btn .expand-btn span.close:nth-child(3) {
    transform: translateY(0px) rotate(0deg);
}

.pink-btn {
    white-space: nowrap;
    color: #fff !important;
    font-weight: bold;
    background-color: #F56962;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: lighter;
    transition: 0.2s;
}

.pink-btn:hover {
    background-color: #e65750;
    box-shadow: 0 7px 15px -2px #e65750;
}

.close-nav {
    transform: translateX(100px); opacity: 0;
}

.expanded-nav {
    display: none;
    position: fixed;
    height: 100%;
    z-index: 3;
    background-color: #fff;
    right: 0;
    padding: 30px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    animation: openExapandedNav .5s;
    transition: .5s;
    box-shadow: #f56b64 -10px 21px 50px -25px;
}

.expanded-nav a {
    font-size: large;
    font-weight: bold;
    animation: exapandedNavLinks 1s;
    color: black;
}

section.hero-section {
    padding-top: 130px;
    padding-bottom: 120px;
    min-height: 80vh;
    background-image: url('https://skilify.theuxuidesigner.com/images/img/hero-banner3.png');
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-position: center;
}

.hero-section .container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
}

.main-heading {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.sub-heading {
    font-size: 22px;
    font-weight: 200;
    text-align: center;
}

.point-features {
    padding: 15px;
    margin: 10px;
}

.point-features .container {
    box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 10px auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: white;
    margin-top: -75px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature .img-container {
    border: 2px solid #33333D;
    border-radius: 50%;
    width: min-content;
}

.feature img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #33333D;
    padding: 8px;
    margin: 8px;
    vertical-align: middle;
}

.feature img.pink {
    background-color: #F56962;
}

section .container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 60px 15px;
}

.cat-headline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.cat-headline h1 {
    color: #302D3A;
    font-size: 40px;
    font-weight: 500;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.categories .cat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 25px);
    padding: 25px;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
    background-color: #EFEFF6;
}

.cat-card .cat-img {
    background-color: #e2ddff;
}

.cat-card:hover {
    background-color: #5444a5;
    box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
}

.cat-card:hover .cat-img {
    background-color: #fff;
}

.cat-heading {
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 22px;
    margin-top: 5px;
}

.cat-card:hover .cat-heading {
    color: #fff;
}

.cat-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 0 auto;
}

.cat-img img {
    max-width: 100%;
}

.grey {
    background-color: #EFEFF6;
}

section.course .course-cards, section.blog .blog-cards {
    display: flex;
    justify-content: space-around;
}

.course-cards, .blog-cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.course, .blog {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 20px);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    margin: 10px;
}

.course:hover, .blog:hover {
    transform: translateY(-13px);
}

.course-img, .blog-img {
    position: relative;
}

.course .course-img img, .blog .blog-img img {
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.5s;
}

.heart-svg {
    position: absolute;
    top: 7px;
    right: 7px;
    fill: red;
    stroke: red;
}

.bookmark-svg {
    position: absolute;
    top: 7px;
    right: 7px;
    stroke: red;
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 3px 0 2px 0;
}

.course-info div{
    display: flex;
    gap: 5px;
    font-size: medium;
    align-items: center;
    margin: 0 0 5px 0;
}

.course-info img, .blog-details .views img {
    vertical-align: middle;
}

.course-title, .blog-title {
    margin: 5px 0;
    font-weight: 500;
    font-size: 22px;
    color: #302D3A;
}

.course-details, .blog-details {
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-desc {
    margin: 3px 0 6px 0;
    color: #5F5982;
    font-size: 16px;
}

.course-details .author img, .blog-details .author img {
    display: inline;
    vertical-align: middle;
    border-radius: 5px;
}

.course-details p, .blog-details p {
    display: inline;
    vertical-align: middle;
    color: #5F5982;
    font-size: 14px;
}

.actual-price {
    font-size: 16px;
    color: #91929A;
}

.discounted-price {
    font-size: 18px;
    color: #F68C20;
    font-weight: bold;
}

.steps-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.step {
    display: flex;
    gap: 10px;
}

.step-text {
    margin-top: 10px;
}

.step-right {
    position: relative;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
}

.step-right::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F56962;
    opacity: 0.4;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

.step-right .step-img-container {
    width: 45%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
}

.step-right .step-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.step-right .step-img-container .grey-line {
    background-color: #EFEFF6;
    height: 6px;
    margin-top: 5px;
    display: block;
}

section.testimonials .container {
    margin-bottom: 0;
}

.reviews {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.rev-card {
    border-radius: 0px 30px 0px 0px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    padding: 25px;
    min-width: calc(50% - 10px);
    border-left: 4px solid transparent;
    transition: 0.5s;
    scroll-snap-align: start;
}

.rev-card:hover {
    background-color: white;
    border-color: #F68C20;
    box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
}

.reviews::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers */
}

.rev-info-container {
    display: flex;
    gap: 5px;
}

.rev-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

section.company .company-logo {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

section.company .company-logo::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers */
}

.company-img {
    scroll-snap-align: start;
}

footer {
    background-color: #33333D;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px 10px 15px;
    color: #fff;
}

hr.footer {
    border: none;
    height: 1px;
    background-color: #b9c4bb;
}

.footer-links {
    display: flex;
    gap: 20px;
    margin: 20px 0 10px 0;
}

.footer-links a{
    color: #fff;
}

footer .bottom {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

footer .bottom .social svg{
    fill: #b8c4ba;
}

.upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.right p {
    font-size: 20px;
}

.footer-input-field {
    background-color: transparent;
    border: 2px solid #91929A;
    font-size: 16px;
    padding: 5px 10px;
    color: #fff;
}

.email-field {
    display: flex;
    gap: 0px;
    margin-top: 5px;
    margin-right: 10px;
}

.input-field::placeholder {
    color: #91929A;
}

.sub-btn {
    color: #fff;
    border: 2px solid #91929A;
    border-left: none;
    padding: 5px 10px;
    transition: .2s;
}

.sub-btn:hover {
    background-color: #626471;
}

/* Animations */

@keyframes headerFixed {
    100% { transform: translateY(0); }
}

@keyframes openExapandedNav {
    0% { transform: translateX(100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes exapandedNavLinks {
    0% { transform: translateX(-20px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

